<div>
  <div class="question-container">
    <span class="label-text question-number">{{question.index}}.</span>
    <span class="label-text question-text">{{question.text}}</span>
  </div>
  <div class="response-container" [ngSwitch]="question.expectedResponseType">
    <form class="form">
      <ng-container *ngSwitchCase="0">
        <mat-button-toggle-group style="width: 100%;" name="no-yes" aria-label="No Or Yes">
          <mat-button-toggle class="full-width" value="no"><mat-icon class="no-icon">close</mat-icon>No</mat-button-toggle>
          <mat-button-toggle class="full-width" value="yes"><mat-icon class="yes-icon">done</mat-icon>Yes</mat-button-toggle>
        </mat-button-toggle-group>
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>{{question.text}}</mat-label>
          <input matInput [placeholder]="question.text" value="">
        </mat-form-field>
      </ng-container>
    </form>
  </div>
</div>